<user-tabs></user-tabs>
<section ng-if="$ctrl.account.loading()">
	{{$ctrl.engine.gb_labels('loading_data')}}
</section>
<div class="site_config_error" ng-if="$ctrl.account.errors()">
    {{$ctrl.account.error_message}}
</div>
<section ng-if="!$ctrl.account.loading() && !$ctrl.account.errors() && $ctrl.engine.user_signed_in() && $ctrl.account.user().access_level * 1 > 1">
	<script type="text/javascript" language="JavaScript">
		function apply_permission_setting(s_p, a_p, c) {
			var s_p_f = document.forms[s_p];
			var a_p_f = document.forms[a_p];
			a_p_f['page'].value = s_p_f['page_' + c].value;
			a_p_f['access_level'].value = s_p_f['access_level_' + c].value;
			a_p_f['check_ad'].value = s_p_f['check_ad_' + c].value;
			a_p_f.submit();
		}
		function access_level(s_p, c, v) {
			document.forms[s_p]['access_level_' + c].value = v;
		}
		function check_ad(s_p, c, v) {
			document.forms[s_p]['check_ad_' + c].value = v;
		}
	</script>
	<form style="margin:0" name="set_permission">
		<table style="width:100%" border="0" cellpadding="0" cellspacing="2">
			<tr style="font-weight:bold;">
				<td>Page Name</td>
				<td>Access Level</td>
				<td>Check Ad</td>
				<td>Permission Set</td>
				<td>Apply Change</td>
			</tr>
			<tr ng-class="['even', {odd:$ctrl.account.odd_row($index)}]" ng-repeat="file in $ctrl.files()">
				<td>
					<input type="text" name="page_{{$index}}" value="{{file.page}}" style="width:250px;" readonly />
				</td>
				<td>
					<input type="text" name="access_level_{{$index}}" value="{{file.access_level}}" style="width:20px;" readonly />
				</td>
				<td>
					<input type="text" name="check_ad_{{$index}}" value="{{file.check_ad}}" style="width:20px;" readonly />
				</td>
				<td>
					<span class="wide_button" ng-click="$ctrl.access_level('set_permission', $index, '0');">everyone</span>
					<span class="wide_button" ng-click="$ctrl.access_level('set_permission', $index, '1');">user</span>
					<span class="wide_button" ng-click="$ctrl.access_level('set_permission', $index, '2');">admin</span>
					<span>check ad:</span>
					<span class="wide_button" ng-click="$ctrl.check_ad('set_permission', $index, '1');">yes</span>
					<span class="wide_button" ng-click="$ctrl.check_ad('set_permission', $index, '0');">no</span>
				</td>
				<td>
					<input type="button" ng-click="$ctrl.apply_permission_setting('set_permission', 'apply_permission', $index);" value="apply change" />
				</td>
			</tr>
		</table>
	</form>
	<form style="margin:0" target="ajax_imitator" name="apply_permission" action="/adb/admin_function.pl">
		<input type="hidden" name="page" />
		<input type="hidden" name="access_level" />
		<input type="hidden" name="check_ad" />
		<input type="hidden" name="admin_action" value="set_permission" />
		<input type="hidden" name="session_id" value="{{$ctrl.engine.cookie('session_id')}}" />
	</form>
</section>
