<user-tabs></user-tabs>
<section ng-if="$ctrl.account.loading()">
	{{$ctrl.engine.gb_labels('loading_data')}}
</section>
<div class="site_config_error" ng-if="$ctrl.account.errors()">
    {{$ctrl.account.error_message}}
</div>
<section ng-if="!$ctrl.account.loading() && !$ctrl.account.errors() && $ctrl.engine.user_signed_in() && $ctrl.account.user().access_level * 1 > 1">
	<script>
		var adm_page_vars = {};
	</script>
	<form name="add_subcategory" action="/adb/save_subcategory.pl">
		<div class="account_box_title">New Sub Category</div>
		<div>
			<div class="account_box_label">Choose a category</div>
			<div class="account_box_field">
				<select name="category">
					<option value="{{category.id}}" ng-repeat="category in $ctrl.categories()">{{category.name}}::{{category.name_cn}}</option>
				</select>
			</div>
		</div>
		<div>
			<div class="account_box_label">Sub Category</div>
			<div class="account_box_field"><input type="text" name="sub_category" maxlength="60" /></div>
			<div class="account_box_field"><input type="text" name="sub_category_cn" maxlength="60" /></div>
		</div>
		<div class="account_box_label">
			<input type="button" name="smt_category" value="Add" onclick="check_input_fields(this.form);" />
			<input type="hidden" name="frm_action" value="new_subcategory" />
			<input type="hidden" name="session_id" value="{{$ctrl.engine.cookie('session_id')}}" />
		</div>
	</form>
	<div class="devider"></div>
	<form name="edit_subcategory" action="/adb/save_subcategory.pl">
		<div>
			<div class="account_box_title">Change sub category text</div>
			<div class="account_box_label">Select a category</div>
			<div class="account_box_field">
				<select name="category" onchange="adm_load_data_item(this.form, this, 'item');this.form['new_subcategory'].value='';this.form['new_subcategory_cn'].value='';">
					<option value="{{category.id}}" ng-repeat="category in $ctrl.categories()">{{category.name}}::{{category.name_cn}}</option>
				</select>
			</div>
			<div class="account_box_label">Sub category to change</div>
			<div class="account_box_field">
				<select name="item" onchange="load_to_change(this.form, this, 'new_subcategory', 'new_subcategory_cn', 'edit_subcategory_obj');">
					<option value="{{item.id}}" ng-repeat="item in $ctrl.items()[$ctrl.default_category_id()]">{{item.name}}::{{item.name_cn}}</option>
				</select>
			</div>
		</div>
		<div id="edit_subcategory_obj" style="display:none;">
			<div>
				<div class="account_box_label">Sub category</div>
				<div class="account_box_field"><input type="text" name="new_subcategory" maxlength="60" /></div>
				<div class="account_box_field"><input type="text" name="new_subcategory_cn" maxlength="60" /></div>
			</div>
			<div class="account_box_label">
				<input type="button" name="edit_subcategory" value="Edit" onclick="check_input_fields(this.form);" />
				<input type="hidden" name="frm_action" value="edit_subcategory" />
				<input type="hidden" name="session_id" value="{{$ctrl.engine.cookie('session_id')}}" />
			</div>
		</div>
	</form>
</section>
