<div class="dp_wrapper">
	<div class="dp_list">
		<div ng-switch="cat.c.length">
			<div ng-switch-when="0">
				<div ng-class="['dp_option']">...</div>
			</div>
			<div ng-switch-default>
				<div ng-if="expand_item && item_id" ng-click="select_item(item_obj)"class="option_title">{{item_obj.n[engine.gb_lang()]}}</div>
				<div ng-model="item" ng-repeat="item in cat.c">
					<div ng-class="['dp_option', {selected:item_selected(item),option_hint:!expand_item}]" ng-show="show_item(item)" ng-click="select_item(item)">{{item.n[engine.gb_lang()]}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="item" value="{{selected_item()}}" />
