<div class="dp_wrapper">
	<div class="dp_list">
		<div>
			<div ng-if="expand_prov && prov_id" ng-click="select_prov(prov_obj)" class="option_title">{{prov_obj.n[engine.gb_lang()]}}</div>
			<div ng-model="prov" ng-repeat="prov in prov_list">
				<div ng-if="display_group(prov)" ng-class="['dp_title']" ng-show="show_prov(prov) && expand_prov">{{prov.s[engine.gb_lang()]}}</div>
				<div ng-class="['dp_option', {selected:prov_selected(prov),option_hint:!expand_prov}]" ng-show="show_prov(prov)" ng-click="select_prov(prov)">{{prov.n[engine.gb_lang()]}}</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="province" value="{{prov.i}}" />
